@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

#TabsToolbar, .tabbrowser-tab {max-height: 15px !important;
  font-size: 9px;
}

/* hide url bar */
#nav-bar { visibility: collapse; }

#nav-bar {height: 25px !important; background-color: black !important;}
#urlbar { height: 5px !important; background-color: black !important; border: none !important; font-size: 10px;} 

#back-button, #forward-button { display:none!important; }

:root:not([customizing]) #TabsToolbar{
  background-color: #000000;
}

:root:not([customizing]) #navigator-toolbox {
        background-color: #000000 !important;
}

/* Change color of normal tabs */

tab:not([selected="true"]) { background-color: #222222 !important;

color: #888888 !important;}



/* Tab: selected colors */

#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content { background: #285577 !important;

color: #ffffff !important;
}

/* Tab: hovered colors */

#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content {background: #285577 !important;

color: #ffffff !important;}


/*AGENT_SHEET*/
#main-window #navigator-toolbox #TabsToolbar:not(:-moz-lwtheme){
  background: #285577 !important;
}

.tabbrowser-tab .tab-icon-image {
  display: none !important;
}

#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none!important; }
