*background:    #000
*foreground:    #fff
XTerm*faceName: Terminus
XTerm*faceSize: 12
XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)
UXTerm*faceName: Terminus
UXTerm*faceSize: 12
UXTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)


URxvt.font: xft:Terminus:size=10
URxvt.scrollBar: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

# font configuration for vim.athena GUI.
Vim*font: -xos4-terminus-medium-*-normal-*-14-140-72-72-*-*-*-*

Emacs.toolBar: 0
Emacs.menuBar: 0
Emacs.font: Terminus
Emacs.scrollBar: off
Emacs.horizontalScrollBars: off
